<div class="row" style="width: 80%;height: 100vh;margin: 10%;border-radius: 30px;background-image: url(https://github.com/MosesOpiyo/hood_watch_frontend/blob/master/src/assets/images/pexels-francesco-ungaro-4322027.jpg?raw=true);">
    <div class="col-1" style="background-color: #021718;width: 50%;height: 100%;border-radius: 30px;">
        <div class="card" style="width: 60%;height: 80vh;margin: 18%;border-radius: 50px;background-color:#021718;">
            <form action="">
                <h2>Login to your Account</h2>
                <br>

                <input type="text" placeholder="Email">
                <br>
                <input type="text" placeholder="Password">
                <br>

                <button type="submit">Login</button>
                <br>
                <p>Dont have an account?</p>

                <a routerLink="">Signup</a>
            </form>

        </div>



    </div>

</div>