* {
    margin: 0;
    padding: 0%;
}

body {
    background-image: url(https://github.com/MosesOpiyo/hood_watch_frontend/blob/master/src/assets/images/pexels-francesco-ungaro-4322027.jpg?raw=true);
    background-position: center;
    background-size: cover;
    height: auto;
}

nav {
    background-color: transparent;
}

.navbar-toogle-icon {
    color: white;
}

.wording {
    height: 40vh;
}

.container-fluid a {
    color: white;
}

h2 {
    color: white;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

ul li a {
    color: white;
    font-size: large;
    padding-right: 50px;
}

.card {
    width: 95%;
    height: auto;
    border-radius: 40px;
    margin-left: 50px;
    background-color: #001513;
}

.card h5 {
    color: white;
}

.card p {
    color: white;
}

.residents {
    width: 100%;
    height: auto;
}